@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Roboto:wght@300&display=swap');

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
  /* Ajusta el diseño para pantallas pequeñas */
  .contingut-principal {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  /* Modifica estilos específicos para elementos en pantallas pequeñas */
  .perfil {
      float: none;
      width: 100%;
  }
}

/* Estilos para pantallas muy pequeñas (móviles) */
@media screen and (max-width: 480px) {
  /* Ajusta aún más el diseño para pantallas muy pequeñas */
  .contingut-principal {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
      gap: 10px;
  }
}

*{
    margin:0;
    padding:0;
    font-family: 'Skranji', cursive;
}

body{
    background-color: #3D1F54; /* fons de color de la pàgina */
}

.logo {
  width: 250px; /* amplada de 250 píxels */
  height: 150px; /* altura de 150 píxels */
  background: rgb(0, 0, 0); /* Fonds de color vermell */
  float: left;
  position: absolute;
  border-radius: 10px;
  border-color: rgb(201, 4, 255);
  border-style: solid;
  box-shadow: 5px 5px;
}

header{
    margin: 25px;
}

.img-logo{
    width: 230px;
    height: 150px;
    margin-left: 20px;
}

.perfil {
    width: 620px;
    height: 150px;
    background: rgb(0, 0, 0);
    float: right;
    border-radius: 10px;
    border-color: rgb(201, 4, 255);
    border-style: solid;
    box-shadow: 5px 5px;
  }

.form{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
}

.navegador{
    width: 940px;
    height: 150px;
    background: rgb(0, 0, 0);
    margin-left: 280px;
    border-radius: 10px;
    border-color: rgb(201, 4, 255);
    border-style: solid;
    box-shadow: 5px 5px;
}

.reproductor{
    width: 100%px;
    height: 150px;
    background: rgb(0, 0, 0);
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 10px;
    border-color: rgb(201, 4, 255);
    border-style: solid;
    box-shadow: 5px 5px;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
}

.icone-aleatori{
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.icone-enrere{
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.stop,.start{
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.icone-avançar{
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.icone-parar{
    width: 45px;
    height: 45px;
}

.contingut-principal{
    float: left;
    width: 63.5%;
    height: 640px;
    margin-left: 25px;
    margin-right: 25px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    border-color: rgb(201, 4, 255);
    border-style: solid;
    box-shadow: 5px 5px;
}

.contingut-secundari{
  display: inline-block;
  width: 620px;
  height: 640px;
  background: rgb(0, 0, 0);
  border-radius: 10px;
  border-color: rgb(201, 4, 255);
  border-style: solid;
  box-shadow: 5px 5px;
}

p{
    color: white;
}

.icones{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.playlist-rap{
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border-color: rgb(201, 4, 255);
  border-style: solid;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 45px;
}

.playlist-rock{
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border-color: rgb(201, 4, 255);
  border-style: solid;
  margin-right: 100px;
  margin-left: 110px;
}

.playlist-techno{
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border-color: rgb(201, 4, 255);
  border-style: solid;
  margin-top: 25px;
  margin-right: 200px;
  margin-left: 200px;
}

.playlist-urbano{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border-color: rgb(201, 4, 255);
    border-style: solid;
    margin-top: 25px;
    margin-right: 100px;
    margin-left: 110px;
}

.audio-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.progress-container {
    width: 30%;
    background-color: #ffffff;
    height: 12px;
    border-radius: 5px;
    position: relative;
}

.progress {
    width: 0;
    height: 100%;
    background-color: rgb(201, 4, 255);
    border-radius: 5px;
}

#currentTime{
    font-size: 18px;
    color: #ffffff;
    display: inline;
    width: 30%;
    margin-left: 660px;
}

#duration{
    font-size: 18px;
    color: #ffffff;
    display: inline;
    width: 30%;
    margin-left: 470px;
}

.text-info{
    color: white;
    display: inline;
    position: absolute;
}

#cover{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border-color: rgb(201, 4, 255);
    border-style: solid;
    margin-top: 14px;
    margin-left: 20px;
}

.info{
    font-size: 20px;
    width: 200px;
    display: inline;
    position: absolute;
    margin-top: 50px;
    margin-left: 25px;
}

.info-secundari{
    color: white;
}

#lista-canciones li {
    margin-top: 25px;
    margin-bottom: 20px; /* Margen inferior entre elementos de la lista */
    font-size: 23px; /* Tamaño de fuente para el texto de la canción */
    display: flex; /* Para alinear verticalmente la imagen y el texto */
    align-items: center; /* Para alinear verticalmente la imagen y el texto */
}

#lista-canciones li:hover {
  background-color: rgb(103, 53, 142);;
}

#lista-canciones img {
    margin-right: 25px; /* Margen derecho entre la imagen y el texto */
    width: 125px; /* Tamaño de la portada */
    height: 125px; /* Altura de la portada */
    margin-left: 35px;
    border-radius: 10px;
    border-color: rgb(201, 4, 255);
    border-style: solid;
}

.equalizer {
    display: none;
    flex-direction: row;
    position: relative;
    height: 76px;
    width: 250px;
    float: right;
    margin-left: 1450px;
    position: absolute;
    margin-top: -6px;
  }

  .equalizer__bar {
    flex-grow: 0;
    height: 100%;
    background-color: rgb(201, 4, 255);
    animation-name: pulse;
    animation-iteration-count: infinite;
    transform-origin: center bottom;
    width: 36px;
    margin-left: 3px;
  }

  .equalizer__bar:nth-child(1) {
    animation-duration: 1.25s;
  }

  .equalizer__bar:nth-child(2) {
    animation-delay: -0.75s;
    animation-duration: 1.375s;
  }

  .equalizer__bar:nth-child(3) {
    animation-delay: -1s;
    animation-duration: 1.5s;
 }

 .equalizer__bar:nth-child(4) {
    animation-delay: 0.5s;
    animation-duration: 1.55s;
  }

  .equalizer__bar:nth-child(5) {
    animation-delay: -2s;
    animation-duration: 1.65s;
  }

  .equalizer__bar:nth-child(6) {
    animation-delay: -0.5s;
    animation-duration: 1.5s;
  }

  .equalizer__bar:nth-child(7) {
    animation-delay: 0.5s;
    animation-duration: 2s;
  }

  .equalizer__bar:nth-child(8) {
    animation-delay: 1.0s;
    animation-duration: 0.65s;
  }

  .equalizer__bar:nth-child(9) {
    animation-delay: -1.90s;
    animation-duration: 1.15s;
  }

  .equalizer__bar:nth-child(10) {
    animation-delay: -1.5s;
    animation-duration: 1.85s;
  }

  .equalizer__bar:nth-child(11) {
    animation-delay: -1.25s;
    animation-duration: 1.25s;
  }

  .equalizer__bar:nth-child(12) {
    animation-delay: -0.75s;
    animation-duration: 1.85s;
  }

  .equalizer__bar:nth-child(13) {
    animation-delay: 0.5s;
    animation-duration: 2s;
  }

  .equalizer__bar:nth-child(14) {
    animation-delay: -1.0s;
    animation-duration: 1.05s;
  }

  .equalizer__bar:nth-child(15) {
    animation-delay: 1.5s;
    animation-duration: 1.85s;
  }

  .equalizer__bar:nth-child(16) {
    animation-delay: -1.0s;
    animation-duration: 1.70s;
  }

  .equalizer__bar:nth-child(17) {
    animation-delay: -1.0s;
    animation-duration: 0.70s;
  }

  .equalizer__bar:nth-child(18) {
    animation-delay: -0.3s;
    animation-duration: 1.20s;
  }

  .equalizer__bar:nth-child(19) {
    animation-delay: -0.5s;
    animation-duration: 1.70s;
  }

  .equalizer__bar:nth-child(20) {
    animation-delay: -0.7s;
    animation-duration: 1.50s;
  }

  .equalizer__bar:nth-child(21) {
    animation-delay: -1.0s;
    animation-duration: 0.50s;
  }

@keyframes pulse {
    0%  { transform: scaleY(0.31) }
    4%  { transform: scaleY(0.25) }
    8%  { transform: scaleY(0.31) }
    12% { transform: scaleY(0.5)  }
    16% { transform: scaleY(0.71) }
    20% { transform: scaleY(0.93) }
    24% { transform: scaleY(0.86) }
    28% { transform: scaleY(0.79) }
    32% { transform: scaleY(0.79) }
    36% { transform: scaleY(0.57) }
    40% { transform: scaleY(0.71) }
    44% { transform: scaleY(0.71) }
    48% { transform: scaleY(0.79) }
    52% { transform: scaleY(0.86) }
    56% { transform: scaleY(0.93) }
    60% { transform: scaleY(0.86) }
    64% { transform: scaleY(0.86) }
    68% { transform: scaleY(0.79) }
    72% { transform: scaleY(0.71) }
    76% { transform: scaleY(0.79) }
    80% { transform: scaleY(0.86) }
    84% { transform: scaleY(0.86) }
    88% { transform: scaleY(0.93) }
    92% { transform: scaleY(0.71) }
    96% { transform: scaleY(0.5)  }
    100%{ transform: scaleY(0.31) }
}

.nom-form{
  font-family: 'Kalam', cursive;
  color: white;
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
}

.log-out-form{
  font-family: 'Kalam', cursive;
  color: white;
  display: inline;
  position: absolute;
  margin-left: 500px;
  font-size: 25px;
  margin-top: 100px;
  text-decoration: none;
}

.log-out-form:hover {
  background-color: rgb(201, 4, 255);
}

.formulario {
  font-family: 'Roboto', sans-serif;
  background-color: #67358F;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  width: 100%;
  text-align: center;
  margin-left: 118px;
  margin-top: 9px;
}

.lletra-form{
  font-family: 'Roboto', sans-serif;
}

.formulario h2 {
  margin-bottom: 5px;
}

.formulario input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #000000;
  color: white;
}

.formulario button[type="submit"] {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  height: 40px;
  width: 100px;
  margin-bottom: 10px;
}

.formulario button[type="submit"]:hover {
  background-color: #3D1F54;
}

.banner{
  height: 120px;
  width: 100%;
  margin-top: 10px;
}

.informacio-tecnica {
  color: white;
  margin-right: 20px;
}

.informacio-tecnica:hover {
  background-color: rgb(201, 4, 255);
}

.info-cookie {
  font-size: 25px;
}

.banner-boto{
  margin-top: 50px;
  text-align: center;
}

.llistat{
  color: white;
  margin-top: 25px;
  margin-left: 25px;
}

.lletra-llistat{
  color: white;
}

.boto-parar{
  margin-left: 25px;
}

.boto-parar:hover {
  background-color: rgb(201, 4, 255);
}

.tornar-index{
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  font-size: 40px;
  margin-top: 200px;
}

.tornar-index:hover {
  color: #e645fe;
}

.formulari-pujar-cançons{
  color: white;
  font-size: 25px;
  margin-left: 50px;
}

.pujar-canço{
  color: white;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
}

.boto-pujar{
  width: 150px;
  height: 50px;
}

.boto-pujar:hover {
  background-color: rgb(201, 4, 255);
}

.boto-web{
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #3D1F54;
  box-shadow: 0 5px #7f42ae;
  text-decoration: none;
  width: 180px;
  font-size: 20px;
  margin-right: 25px;
}

.boto-web:hover {
  transform: scale(1.1);
  box-shadow: 0 3px rgb(201, 4, 255);
  top: 1px;
}

.boto-web:active {
  box-shadow: 0 0 rgb(201, 4, 255);
  top: 5px;
}

.body2 {
  font-family: 'Arial', sans-serif;
  background-color: #3D1F54;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
}

.pujar-canço {
  font-family: 'Times New Roman', serif;
  font-size: 50px;
  margin-top: 30px;
  color: rgb(201, 4, 255);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.formulari-pujar-cançons {
  background-color: rgba(201, 4, 255, 0.7);
  border-radius: 10px;
  padding: 100px;
  margin: 20px auto;
  max-width: 500px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 2000px;
  box-shadow: 1px 1px 40px #e645fe;
  box-shadow: 1px 1px 40px #e645fe;
  box-shadow: 1px 1px 40px #e645fe;
  box-shadow: 5px 5px 40px #e645fe;
}

label {
  font-size: 18px;
  color: white;
}

input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgba(201, 4, 255, 0.2);
  color: white;
}

input[type="file"]::file-selector-button {
  background-color: rgba(201, 4, 255, 0.7);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: rgba(201, 4, 255, 0.7);
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: rgb(201, 4, 255);
}

/* Estilos generales */
.body4 {
  font-family: 'Arial', sans-serif;
  background-color: #3D1F54;

}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para el div de cookies */
.cookie {
  background-color: rgba(201, 4, 255, 0.2);
  border: 1px solid rgb(201, 4, 255);
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 40px #e645fe;
  box-shadow: 1px 1px 40px #e645fe;
  box-shadow: 1px 1px 40px #e645fe;
  box-shadow: 5px 5px 40px #e645fe;
}

/* Estilos para el texto dentro del div de cookies */
.info-cookie {
  font-size: 18px;
  margin: 10px 0;
  font-size: 30px;
}

/* Estilos para los enlaces */
.tornar-index2 {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  font-size: 40px;
  margin-left: 700px;
  margin-top: 200px;
}

.tornar-index2:hover {
  color: #e645fe;
}
