@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Skranji', cursive;
}


body{
    background-color: #3D1F54; /* fons de color de la pàgina */
}

.logo {
    width: 250px;           /* amplada de 250 píxels */
    height: 150px;          /* altura de 150 píxels */
    background: rgb(0, 0, 0);       /* Fonds de color vermell */
    float: left;
    position: absolute;
    border-radius: 10px;
    border-color: rgb(201, 4, 255);
    border-style: solid;
    box-shadow: 5px 5px;
  }
header{
    margin: 25px;
}

.img-logo{
    width: 230px;
    height: 150px;
    margin-left: 20px;
}

.perfil {
    width: 620px;          
    height: 150px;          
    background: rgb(0, 0, 0);     
    float: right;
    border-radius: 10px;
    border-color: rgb(201, 4, 255);
    border-style: solid;
    box-shadow: 5px 5px;
  }

.form{
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
}

.navegador{
    width: 940px;          
    height: 150px;          
    background: rgb(0, 0, 0);
    margin-left: 280px;
    border-radius: 10px;
    border-color: rgb(201, 4, 255);
    border-style: solid;
    box-shadow: 5px 5px;
}

.reproductor{
    width: 100%px;          
    height: 150px;         
    background: rgb(0, 0, 0);       
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 10px;
    border-color: rgb(201, 4, 255);
    border-style: solid;
    box-shadow: 5px 5px;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
}

.icone-aleatori{
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.icone-enrere{
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.stop,.start{
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.icone-avançar{
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.icone-parar{
    width: 45px;
    height: 45px;
}

.contingut-principal{
    float: left;
    width: 63.5%;          
    height: 640px;
    margin-left: 25px;
    margin-right: 25px;   
    background: rgb(0, 0, 0);  
    border-radius: 10px;
    border-color: rgb(201, 4, 255);
    border-style: solid;  
    box-shadow: 5px 5px;
}

.contingut-secundari{
    display: inline-block;
    width: 620px;          
    height: 640px;   
    background: rgb(0, 0, 0);
    border-radius: 10px;
    border-color: rgb(201, 4, 255);
    border-style: solid;
    box-shadow: 5px 5px;
}

p{
    color: white;
}

.icones{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.playlist-rap{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border-color: rgb(201, 4, 255);
    border-style: solid;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 45px;

    
}

.playlist-rock{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border-color: rgb(201, 4, 255);
    border-style: solid;
    margin-right: 100px;
    margin-left: 110px;
}

.playlist-techno{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border-color: rgb(201, 4, 255);
    border-style: solid;
    margin-top: 25px;
    margin-right: 200px;
    margin-left: 200px;
}

.playlist-urbano{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border-color: rgb(201, 4, 255);
    border-style: solid;
    margin-top: 25px;
    margin-right: 100px;
    margin-left: 110px;
}

.audio-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.progress-container {
    width: 30%;
    background-color: #ffffff;
    height: 12px;
    border-radius: 5px;
    position: relative;
}

.progress {
    width: 0;
    height: 100%;
    background-color: rgb(201, 4, 255);
    border-radius: 5px;
}

#currentTime{
    font-size: 18px;
    color: #ffffff;
    display: inline;
    width: 30%;
    margin-left: 660px;
}

#duration{
    font-size: 18px;
    color: #ffffff;
    display: inline;
    width: 30%;
    margin-left: 470px;
}
